<a href="https://colab.research.google.com/github/Swankyray/Gits-tutorials/blob/master/MyFirstPythonProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("hello Python")
print("this is sourav here")

hello Python
this is sourav here

In [13]:
username = input("Enter a name ")
password = input("Enter the password ")
print("Welcome to python " + username)
print("your password is " + password)

Enter a name Sourav
Enter the password Swankyray@11
Welcome to python Sourav
your password is Swankyray@11

In [16]:
a = 10
print(type(a))
b= 10.5
print(type(b))
c = True
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

In [3]:
age = int(input("Enter the age "))
print(age)
print(type(age))

Enter the age 21
21
<class 'int'>

In [7]:
age = input("Enter the age ")
new_age = int(age) + 10
print(new_age )

Enter the age 20
30

In [18]:
a = int(input("enter the number "))
b = int(input("enter the number "))
resultProduct = a * b
resultSum = a + b
print("The product is " + str(resultProduct))
# print(resultSum)

enter the number 6
enter the number 5
The product is 30

In [25]:
age = [10,20,30,40,50]
print(age[0])
print(age[1])
print(age[4])
carName = ["merc", "lambo", "range", "ferrari"]
print(carName[3])
print(carName[1])
print(carName[2])

10
20
50
ferrari
lambo
range